<section class="intro text-5xl container">
  <div class="intro__text">
    <h2>Hey! I'm Mauricio Martinez</h2>
    <p>I'm a software developer based in Argentina.</p>
  </div>
  <div class="intro__social">
    <fa-icon
      [icon]="faGithub"
      class="github"></fa-icon>
    <fa-icon
      [icon]="faLinkedin"
      class="linkedin"></fa-icon>
    <fa-icon
      [icon]="faMail"
      class="mail"></fa-icon>
    <fa-icon
      [icon]="faDownload"
      class="download"></fa-icon>
  </div>
</section>
