@import '../../../../styles/index.scss';

.intro {
  height: min(100vh, 100%);
  @include centerFlex;
  margin: 0 auto;
  flex-direction: column;
  gap: 5rem;
  .intro__text {
    h2 {
      font-size: 10rem;
      font-weight: bolder;
    }
    p {
      font-size: 5rem;
      margin-top: 3rem;
      white-space: nowrap;
      font-weight: $thin;
    }
    .name {
      color: var(--primary);
    }
  }

  .intro__social {
    font-size: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-bottom: 10rem;
    .social__icon {
      transition: transform 0.2s ease-in-out;
      cursor: pointer;
    }
    .social__icon:hover {
      transform: scale(1.25);
    }
    .linkedin:hover {
      color: #0a66c2;
    }
    .mail:hover {
      color: #f3b12e;
    }
    .download:hover {
      color: #319831;
    }
  }
  .icon__go-down {
    font-size: 8rem;
    animation: bounce 2s infinite;
    color: var(--primary);
    position: absolute;
    bottom: 20rem;
    z-index: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
