<section
  class="services"
  id="services">
  <div class="services--title">
    <h3 class="title--desc">SERVICES</h3>
  </div>

  <div class="card-container container">
    <div class="card">
      <div class="card--header">
        <fa-icon
          [icon]="faCode"
          class="header--icon"></fa-icon>

        <h4>Full stack development</h4>
      </div>
      <div class="card--desc">
        <p>
          I'm capable of making
          <b>full-stack Javascript apps with the MEAN stack</b>. (MySQL/MongoDb,
          Express, Angular and NodeJS)
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card--header">
        <fa-icon
          [icon]="faAngular"
          class="header--icon"></fa-icon>

        <h4>Angular development</h4>
      </div>
      <div class="card--desc">
        <p>
          I'm specialized in <b>Angular development</b> and I'm always up to
          date with new features and <b>best practises</b>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card--header">
        <fa-icon
          [icon]="faCompass"
          class="header--icon"></fa-icon>
        <h4>Web design</h4>
      </div>
      <div class="card--desc">
        <p>
          I'm a <b>UI/UX enthusiast</b> and I'm always
          <b>looking to give the best experience to the users</b>. I am
          proficient with tools like Figma, HTML, CSS and it's frameworks.
        </p>
      </div>
    </div>
  </div>
</section>
