<nav
  class="navbar"
  [class.navbarFixed]="navbarFixed">
  <ul class="navbar__items container">
    <li class="navbar__items--title">
      <a href="#home"> Mauricio Martinez </a>
    </li>
    <li>
      <a href="#services">Services</a>
    </li>
    <li>
      <a href="#skills">Skills</a>
    </li>
    <li>Contact</li>
    <li>
      <a href="#about">About</a>
    </li>
    <li
      class="theme__toggle"
      (click)="changeTheme()">
      <fa-icon
        [icon]="faSun"
        *ngIf="theme === 'dark'; else moonIcon"></fa-icon>
      <ng-template #moonIcon>
        <fa-icon [icon]="faMoon"></fa-icon>
      </ng-template>
    </li>
  </ul>
</nav>
