@import '../../../styles/index.scss';
.navbar {
  position: fixed;
  top: 0;
  margin: 0 auto;
  width: 100%;
  transition: backdrop 0.5s;
  .navbar__items {
    margin: 0 auto;
    @include centerFlex;
    gap: 3rem;
    font-size: $l;
    height: 10rem;
    :hover:not(:first-child):not(:last-child) {
      transform: scale(1.05);
    }
    .navbar__items--title {
      font-size: $title;
      font-weight: $semi-bold;
      flex-grow: 1;
    }
  }
  .theme__toggle {
    fa-icon {
      color: var(--icon-theme-color);
    }
  }
  fa-icon {
    cursor: pointer;
  }
}

.navbarFixed {
  background: rgba(var(--bg-color), 1);
  border-bottom: 0.5rem solid var(--primary);
  backdrop-filter: blur(15px);
  z-index: 10;
}
