@import './styles/partials/fonts', './styles/partials/colors';
@import './styles/partials/reset';
@import './styles/themes/tailwinds';

* {
  font-family: 'Poppins', sans-serif;
  font-weight: $normal;
  color: $text-color-default;
  background-color: $body-bg;
}
